@use "@/styles/--variable" as variable;

$font-family: variable.$font-family;
$font-size: variable.$font-size;
$bg-login-color: variable.$bg-login-color;
$white: variable.$white;
$padding: variable.$padding;
$gap: variable.$gap;
$ms-error-color: variable.$ms-error-color;
$md-font-size: variable.$md-font-size;
$font-weight: 400;
$width: 15px;
$local-color: rgba(0, 0, 0, 0.65);

.container {
  width: 100%;
  height: 100vh;
  max-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $bg-login-color;
  position: relative;
}

.loginTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gap;

  h1 {
    font-size: $font-size + 8;
    font-family: $font-family;
  }

  p {
    font-family: $font-family;
    font-size: $font-size + 2;

    text-align: center;
    font-weight: $font-weight;
    padding: 0px 15%;
    color: rgba(0, 0, 0, 0.75);
  }
}

.loginInput {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: $gap;
}

.username {
  padding: 0;

  input {
    font-size: $font-size;
  }
}

.password {
  padding: 0;
  padding-right: $padding - 1;
}

.logo {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 70px;
}

.logoRight {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: $gap * 2;
}

.forgotPassword {
  font-weight: $font-weight;
  font-style: italic;
  font-size: $md-font-size;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.content {
  position: relative;
  z-index: 2;
  left: -20px;

  overflow: hidden;
  background-color: $white;
  padding: 25px 50px;
  border-radius: 38px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap;

  max-width: 450px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */

  form {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $gap + 5;
  }
}

.signInWith {
  text-align: center;
  position: relative;

  &::before {
    display: inline-block;

    content: "";
    border: 1px solid $local-color;
    position: absolute;
    top: 50%;
    left: 27%;
    transform: rotate(180deg);

    width: $width;
  }

  &::after {
    display: inline-block;

    content: "";
    border: 1px solid $local-color;
    position: absolute;
    top: 50%;
    right: 27%;
    transform: rotate(180deg);

    width: $width;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

.haveAnAccount {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap - 6;

  font-size: $md-font-size + 1;
}

.errorMessage {
  color: $ms-error-color;

  font-size: $md-font-size;
}
