@use "@/styles/--variable" as variable;

// display
$font-family: variable.$font-family;
$font-size: variable.$font-size;
$sm-font-size: variable.$sm-font-size;
$font-size-xl: variable.$font-size-xl;

// color
$border-color: variable.$border-color;
$primary-500: variable.$primary-500;
$primary-200: variable.$primary-200;
$text-disabled: variable.$text-disabled;
$text-grey: variable.$text-grey;
$text-accent: variable.$text-accent;
$bg-login-color: variable.$bg-login-color;
$white: variable.$white;
$padding: variable.$padding;
$gap: variable.$gap;
$ms-error-color: variable.$ms-error-color;
$md-font-size: variable.$md-font-size;
$font-weight-400: 400;
$font-weight-700: 700;
$width: 15px;
$local-color: rgba(0, 0, 0, 0.65);
$primary-color-second: variable.$primary-color-second;
$screen-width: variable.$screen-width;
$screen-height: variable.$screen-height;

// custom
$padding-local: 10px;
$pace: 40px;

.container {
	box-sizing: border-box;

	display: flex;

	width: $screen-width;
	height: $screen-height;
}

.logo {
	margin-top: 40px;
  margin-left: 7%;
}

.form {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	flex: 0 1 auto;
	gap: $gap * 4;

	// padding: $padding-local * 4;
	box-sizing: border-box;
}

.loginForm {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-self: stretch;
	gap: $gap * 3;

	form {
		height: 100%;
	}
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: $gap / 2;

	padding: $padding-local $padding-local / 2;

	margin-bottom: $gap;

	h1,
	h3 {
		font-family: $font-family;
		line-height: normal;
	}

	h1 {
		font-size: 34px;
		font-weight: $font-weight-700;

		color: $primary-color-second;
	}

	h3 {
		font-size: 22px;
		font-weight: $font-weight-400;

		color: $primary-color-second;
	}
}

.wrapper {
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: $gap * 2;

	padding: 0 8%;

	box-sizing: border-box;
}

.inputs {
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: $gap / 2;

	width: 100%;
}

.wrapperInput {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: $gap - 7;

	label {
		font-size: $font-size;
		font-family: $font-family;
		font-weight: $font-weight-700;

		color: $primary-color-second;
	}
}

.errorMessage {
	font-size: $sm-font-size;
	font-weight: $font-weight-400;

	color: $ms-error-color;
}

.rememberMe {
	font-size: $md-font-size;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: $gap / 2;

	width: 100%;

	button {
		font-size: $md-font-size;
		font-family: $font-family;
		font-weight: $font-weight-400;
	}
}

.submit {
	width: 100%;

	display: flex;

	button {
		width: 100%;
	}
}

.signInWith {
	text-align: center;
	position: relative;

	&::before {
		display: inline-block;

		content: "";
		border: 1px solid $local-color;
		position: absolute;
		top: 50%;
		left: -25%;
		transform: rotate(180deg);

		width: $width;
	}

	&::after {
		display: inline-block;

		content: "";
		border: 1px solid $local-color;
		position: absolute;
		top: 50%;
		right: -25%;
		transform: rotate(180deg);

		width: $width;
	}
}

.backgroundSection {
	width: 100%;

	background: $primary-500;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
}

.shape {
	transform: rotate(134deg);
	transform-origin: top left;

	position: relative;

	&1 {
		width: 784px;
		height: 300px;
		left: 460.4px;
		top: 126.67px;

		position: absolute;
		background: linear-gradient(90deg, #ffd6a2 0%, #ffc279 30%, #ffc279 100%);
		box-shadow: 0px -20px 30px rgba(0, 0, 0, 0.25);
		border-radius: 200px;
		z-index: 5;
	}

	&2 {
		width: 1351px;
		height: 200px;
    left: 84%;
    top: -8%;
		z-index: 4;
		position: absolute;
		border-radius: 150px;
		box-shadow: 0px -20px 30px rgba(0, 0, 0, 0.25);
		background: linear-gradient(
			90deg,
			#ffb65e 0%,
			#ffb65e 20%,
			#ffb65e 40%,
			#ffb65e 70%,
			#ffc279 90%,
			#ffce94 100%
		);
	}

	&3 {
		width: 854.42px;
		height: 150px;
    left: 104%;
    top: -8%;
		position: absolute;
		transform: rotate(134deg);
		transform-origin: left top;
		background: linear-gradient(
			90deg,
			rgb(255, 182, 94) 0%,
			rgb(255, 182, 94) 70%,
			rgb(255, 194, 121) 100%
		);
		box-shadow: rgba(0, 0, 0, 0.25) 0px -20px 30px;
		border-radius: 200px;
		z-index: 3;
	}

	&4 {
		width: 1171.59px;
		height: 250px;
    left: 97%;
    top: 58%;
		position: absolute;
		transform: rotate(134deg);
		transform-origin: left top;
		background: linear-gradient(
			90deg,
			rgb(255, 182, 94) 0%,
			rgb(255, 182, 94) 20%,
			rgb(255, 182, 94) 40%,
			rgb(255, 182, 94) 70%,
			rgb(255, 182, 94) 90%,
			rgb(255, 206, 148) 100%
		);
		box-shadow: rgba(0, 0, 0, 0.25) 0px -20px 30px;
		border-radius: 150px;
		z-index: 2;
	}

	&5 {
		width: 854.42px;
		height: 150px;
    left: 145%;
    top: 9%;
		position: absolute;
		transform: rotate(134deg);
		transform-origin: left top;
		background: linear-gradient(
			90deg,
			rgb(255, 182, 94) 0%,
			rgb(255, 182, 94) 70%,
			rgb(255, 194, 121) 100%
		);
		box-shadow: rgba(0, 0, 0, 0.25) 0px -20px 30px;
		border-radius: 200px;
		z-index: 1;
	}
}

@media (max-width: 575.98px) {
	.wrapper {
		gap: $gap * 3;
	}

	.form {
		width: 100%;

		gap: $gap;
	}

	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.inputs {
		gap: $gap + 2;
	}

	.wrapper {
		padding: 0;

		justify-content: center;

		gap: $gap + 4;
	}

	.backgroundSection {
		display: none;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	/* CSS cho tablet nhỏ và mobile hor */
	.form {
		gap: 10px;
	}

	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.wrapper {
		padding: 0 10px;
		gap: $gap * 3;
	}

	.inputs {
		gap: $gap + 4;
	}

	.title {
		h1 {
			font-size: 30px;
		}
		h2 {
			font-size: 18px;
		}
	}
	.backgroundSection {
		display: none;
	}
}

// /* Tablet lớn (768px đến 991px) */
@media (min-width: 768px) and (max-width: 991.98px) {
	/* CSS cho tablet lớn */
	.form {
		gap: 10px;
	}

	.logo {
		margin-left: 20px;
	}

	.inputs {
		gap: 12px;
	}

	.wrapper {
		padding: 0 $padding-local * 3;
		gap: $gap * 2;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	/* CSS cho desktop phổ thông */

	.logo {
		margin-left: 30px;
	}

	.wrapper {
		padding: 0 $padding-local * 4;
		gap: $gap;
	}

	.shape {
		&1 {
			left: 421.4px;
			top: 47.67px;
			width: 784px;
			height: 200px;
			box-shadow: 0px -30px 30px rgba(0, 0, 0, 0.25);
		}

		&2 {
			left: 807.34px;
			top: -112.07px;
			width: 1351px;
			height: 150px;
			box-shadow: 0px -30px 30px rgba(0, 0, 0, 0.25);
		}

		&3 {
			left: 893.08px;
			top: 26.43px;
			width: 854.42px;
			height: 150px;
			box-shadow: rgba(0, 0, 0, 0.25) 21px -11px 30px;
		}

		&4 {
			left: 933.5px;
			top: 318.93px;
			width: 1171.59px;
			height: 230px;
			box-shadow: rgba(0, 0, 0, 0.25) 0px -15px 30px;
		}

		&5 {
			left: 981.08px;
			top: 492.43px;
			width: 854.42px;
			height: 150px;
			box-shadow: rgba(0, 0, 0, 0.25) 0px -20px 30px;
		}
	}
}

/* Mode landscape*/
@media (orientation: landscape) {
	@media (max-height: 430px) {
		/* iPhone & similar */
		.container {
			padding: 0 20px;

			.wrapper {
				padding: 0;
				gap: $gap/2;
			}

			.title {
				h1 {
					font-size: 22px;
				}

				h3 {
					font-size: $font-size-xl;
				}
			}

			.inputs {
				gap: $gap;
			}

			.wrapperInput {
				label {
					font-size: $md-font-size;
				}
			}
		}

		.backgroundSection {
			display: none;
		}
	}

	@media (max-height: 320px) {
		/* Extra small screens */
	}
}
