@use "@/styles/--variable" as variable;

//color
$primary-500: variable.$primary-500;
$white: variable.$white;
// custom
$border-radius: 9999px;
$border-giant:6px;
$border-medium:5px;
$border-small:4px;

.container {
	width: 100%;

	border-radius: $border-radius;

	position: relative;

	&::before {
		content: "";
		top: -16%;
		left: -16%;

		border-radius: $border-radius;
		z-index: 99;

		position: absolute;
	}
}

.animated.container {
	animation: rotate 1.5s linear infinite;
}

.giant.container {
	width: 56px;
	height: 56px;

	border: $border-giant solid transparent;
	border-top: $border-giant solid $primary-500;
	border-right: $border-giant solid $primary-500;
	border-bottom: $border-giant solid $primary-500;

	&::before {
		width: 100%;
		height: 100%;

        top: -15%;
		border: $border-giant solid $primary-500;
		border-left: $border-giant solid transparent;
		transform: rotate(60deg);
	}
}


.large.container {
	width: 48px;
	height: 48px;

	border: $border-giant solid transparent;
	border-top: $border-giant solid $primary-500;
	border-right: $border-giant solid $primary-500;
	border-bottom: $border-giant solid $primary-500;

	&::before {
		width: 100%;
		height: 100%;

		border: $border-giant solid $primary-500;
		border-left: $border-giant solid transparent;
		transform: rotate(60deg);
	}
}

.medium.container {
	width: 40px;
	height: 40px;

	border: $border-medium solid transparent;
	border-top: $border-medium solid $primary-500;
	border-right: $border-medium solid $primary-500;
	border-bottom: $border-medium solid $primary-500;

	&::before {
		width: 100%;
		height: 100%;

		border: $border-medium solid $primary-500;
		border-left: $border-medium solid transparent;
		transform: rotate(60deg);
	}
}

.small.container {
	width: 32px;
	height: 32px;

	border: $border-small solid transparent;
	border-top: $border-small solid $primary-500;
	border-right: $border-small solid $primary-500;
	border-bottom: $border-small solid $primary-500;

	&::before {
		width: 100%;
		height: 100%;
		top: -16%;
		left: -18%;
		border: 4px solid transparent;
		border-left: 4px solid $primary-500;
		transform: rotate(-30deg);
	}
}

.tiny.container {
	width: 24px;
	height: 24px;

	border: $border-small solid transparent;
	border-top: $border-small solid $primary-500;
	border-right: $border-small solid $primary-500;
	border-bottom: $border-small solid $primary-500;

	&::before {
		width: 100%;
		height: 100%;

		top: -25%;
		left: -27%;

		border: $border-small solid $primary-500;
		border-left: $border-small solid transparent;
		transform: rotate(-45deg);
	}
}

/* Rotation Animation */
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
