@use "@/styles/--variable" as variable;

$border-radius: variable.$border-radius;
$font-size: variable.$font-size;

.inputPrefix {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: $border-radius;
  padding: $border-radius + 1 $border-radius * 2;
  transition: all 0.3s;

  width: 100%;
  height: auto;

  .prefix {
    display: inline-flex;

    width: $border-radius * 13;
    height: $border-radius * 13;
  }

  input {
    border: none;
    outline: none;
    padding: $border-radius * 3 0;

    font-size: $font-size;

    width: 100%;
  }

  &:hover {
    border-color: #40a9ff;
  }

  &:focus {
    border-color: #40a9ff;
    box-shadow: 0 0 0 2px #cce7ff;
    outline: 0;
    z-index: 1;
  }
}

.inputPrefixFocus {
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px #cce7ff;
  outline: 0;
  z-index: 1;
}
