@use "@/styles/--variable" as variable;

$border-radius: variable.$border-radius;
$font-size: variable.$font-size;
$txt-color: variable.$primary-color-second;
$border-color: variable.$border-color;
$border-color-hover: variable.$primary-color-first;
$border-color-focus: variable.$primary-color-first-disabled;
$padding: variable.$padding;

.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  position: relative;
  color: $border-color;
  transition: all 0.3s;

  width: 100%;
  height: auto;
  padding: $border-radius + 1 $border-radius * 2;

  .toggleIcon {
    display: inline-flex;
  }

  input {
    outline: none;
    border: none;

    padding: $padding + 3 $padding + 15;

    font-size: $font-size;

    width: 100%;
  }

  &:hover {
    border-color: $border-color-hover;
    .toggleIcon {
      color: $border-color-hover;
    }
  }

  &:focus {
    border-color: $border-color-hover;
    box-shadow: 0 0 0 2px $border-color-focus;
    outline: 0;
    z-index: 1;
  }
}

.containerFocus {
  border-color: $border-color-hover;
  box-shadow: 0 0 0 2px $border-color-focus;
  outline: 0;
  z-index: 1;

  .toggleIcon {
    color: $border-color-hover;
  }
}
