@use "@/styles/--variable" as variable;

$border-radius: variable.$border-radius;
$font-size: variable.$font-size;
$--grey: #ddd;
$white: #000000;

.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $--grey;
  border-radius: $border-radius;
  position: relative;
  color: $--grey;
  transition: all 0.3s;

  width: 100%;
  height: auto;
  padding: $border-radius + 1 $border-radius * 2;

  .toggleIcon {
    display: inline-flex;
  }

  input {
    outline: none;
    border: none;

    padding: $border-radius * 3;

    font-size: $font-size;

    width: 100%;
  }

  &:hover {
    border-color: #40a9ff;
    .toggleIcon {
      color: #40a9ff;
    }
  }

  &:focus {
    border-color: #40a9ff;
    box-shadow: 0 0 0 2px #cce7ff;
    outline: 0;
    z-index: 1;
  }
}

.containerFocus {
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px #cce7ff;
  outline: 0;
  z-index: 1;

  .toggleIcon {
    color: #40a9ff;
  }
}
