@use "@/styles/--variable" as variable;

$primary-color: variable.$primary-color-first;
$primary-color-hover: variable.$primary-color-first-hover;
$border-radius: variable.$border-radius;
$font-size: variable.$font-size;
$font-family: variable.$font-family;
$line-height: variable.$line-height;
$border-color-outline-btn: variable.$border-color;
$bg-color-outline-btn: variable.$white;
$background-color: variable.$primary-color-first-disabled;
$txt-btn-default: variable.$txt-btn-default;
$color-button-container: variable.$primary-color-second;
$txt-color-outline-btn: variable.$txt-btn-disabled;
$border-color-outline-btn-disabled: variable.$border-color-disabled;
$txt-outline-btn-disabled: variable.$txt-btn-default-disabled;
$padding: variable.$padding;
$gap: variable.$gap;
$bg-danger-btn: variable.$button-danger;
$bg-danger-btn-hover: variable.$btn-hover-danger;
$bg-danger-btn-disabled: variable.$btn-disabled-danger;
$txt-daner-btn-disabled: variable.$white-disabled;
$box-shadow: 2px;
$min-width:64px;

.button {
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border-radius: $border-radius;
  padding: $padding $padding * 2;

  line-height: $line-height;
  min-width: $min-width;
  height: auto;

  font-size: $font-size;
  font-family: $font-family;
  font-weight: 700;

  &:hover{
    span {
      color: $primary-color;
    }
  }
}

.buttonText {
  border: none;
  background: none;
  color: $txt-btn-default;
  padding: 0;
  min-width: 0;

  &:hover {
    color: $primary-color;
  }
}

.buttonContainer {
  background-color: $primary-color;
  color: $color-button-container;
  border: none;
  box-shadow: 0px $box-shadow + 1 $box-shadow - 1 $box-shadow - 4 rgba(0, 0, 0, 0.2),
    0px $box-shadow $box-shadow 0px rgba(0, 0, 0, 0.14), 0px $box-shadow - 1 ((2 * $box-shadow) + 1) 0px rgba(0, 0, 0, 0.12);
  letter-spacing: 0.45712px;

  &:hover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    background-color: $primary-color-hover;
  }
}

.buttonOutline {
  color: $txt-btn-default;
  border: 1px solid $txt-color-outline-btn;
  background-color: $bg-color-outline-btn;
  border-color: $border-color-outline-btn;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &:hover {
    background-color: $bg-color-outline-btn;
    border-color: $primary-color;
    color: $primary-color;
  }
}

.buttonDanger {
  background-color: $bg-danger-btn;
  color: $bg-color-outline-btn;
  border: 1px solid $bg-danger-btn;

  &:hover {
    background-color: $bg-danger-btn-hover;
  }
}

.icon {
  line-height: $padding - 1;
}

.disabled {
  background-color: $background-color;
  cursor: default;
  pointer-events: none;
  color: $txt-btn-default;
  border: none;
  outline: none;
  user-select: none;
  padding: $padding $padding * 2;
}

.disabledText {
  background-color: unset;
  color: $txt-outline-btn-disabled;
}

.disabledOutline {
  background-color: unset;
  border: 1px solid $border-color-outline-btn-disabled;
  color: $txt-outline-btn-disabled;
}

.disabledDanger {
  background-color: $bg-danger-btn-disabled;
  color: $txt-daner-btn-disabled;
}
