@use "@/styles/--variable" as variable;

// color
$grey-50: variable.$grey-50;

.container {
	width: 100%;

	list-style: none;
	display: flex;
	flex-direction: column;

	padding: 4px 0;

	.content {
		width: 100%;

		display: flex;
		align-items: center;

		padding: 8px 12px;
		background-color: $grey-50;

		.left {
			flex: 2;
			display: flex;
			align-items: center;
			gap: 12px;

			.customIcon {
				width: 24px;
				height: 24px;
			}
		}

		.right {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			width: 100%;

			.wrap {
				width: 100%;

				display: flex;
				align-items: center;
				gap: 12px;

				span {
					width: 24px;
					height: 24px;
				}

				p {
					flex: 1;
					text-align: right;
				}
			}
		}
	}
}
