$white: #ffffff;
$white-disabled: #ffffff80;
$primary-color-first: #fec887;
$primary-color-second: #000000;
$btn-hover-danger: #d8001c;
$button-danger: #db1b34;
$btn-disabled-danger: #d8001c80;
$primary-color-first-hover: #ffb65e;
$primary-color-first-disabled: #fec88780;

$border-color-disabled: #efefef80;
$txt-btn-disabled: #40322280;
$txt-btn-default: #1a1d1f;
$txt-btn-default-disabled: #1a1d1f80;
$bg-login-color: #f6f2eb;
$ms-error-color: #ff0000;
$text-placeholder: #6c6c6c;
$checked-radio-color: #ff7855;
$disabled-checke-radio-color: #00000040;
//
$border-color: #efefef;
/////////////////////////////// BOX-SHADOW ///////////////////////////////
$box-shadow-primary: #ffe7c7;
/////////////////////////////// BLACK ///////////////////////////////
$black: #000000;
$black-900: #000000e5;
$black-800: #000000cc;
$black-700: #000000b2;
$black-600: #00000099;
$black-500: #00000080;
$black-400: #00000066;
$black-300: #0000004d;
$black-200: #00000033;
$black-100: #0000001a;
/////////////////////////////// WHITE ///////////////////////////////
$white: #ffffff;
$white-900: #ffffffe5;
$white-800: #ffffffcc;
$white-700: #ffffffb2;
$white-600: #ffffff99;
$white-500: #ffffff80;
$white-400: #ffffff66;
$white-300: #ffffff4d;
$white-200: #ffffff33;
$white-100: #ffffff1a;
/////////////////////////////// PRIMARY ///////////////////////////////
$primary-900: #483013;
$primary-800: #765226;
$primary-700: #a47439;
$primary-600: #d2964c;
$primary-500: #ffb65e;
$primary-400: #ffc279;
$primary-300: #ffce94;
$primary-200: #ffdaaf;
$primary-100: #ffe6ca;
$primary-50: #fff4e5;
/////////////////////////////// GREY ///////////////////////////////
$grey-900: #131927;
$grey-800: #212936;
$grey-700: #394050;
$grey-600: #4d5461;
$grey-500: #6d717f;
$grey-400: #9ea2ae;
$grey-300: #d2d5db;
$grey-200: #e5e7ea;
$grey-100: #f3f4f6;
$grey-50: #f9fafb;
/////////////////////////////// GREEN ///////////////////////////////
$green-900: #1c4d27;
$green-800: #256533;
$green-700: #308242;
$green-600: #3da755;
$green-500: #43b75d;
$green-400: #69c57d;
$green-300: #81cf92;
$green-200: #a9deb4;
$green-100: #c5e9cd;
$green-50: #ecf8ef;
/////////////////////////////// RED ///////////////////////////////
$red-900: #641d1a;
$red-800: #832523;
$red-700: #a9302d;
$red-600: #d93e39;
$red-500: #ee443f;
$red-400: #f16965;
$red-300: #f4827e;
$red-200: #f7a9a7;
$red-100: #fac5c3;
$red-50: #fdecec;
/////////////////////////////// YELLOW ///////////////////////////////
$yellow-900: #6b4700;
$yellow-800: #8c5e00;
$yellow-700: #b57900;
$yellow-600: #e89b00;
$yellow-500: #ffaa00;
$yellow-400: #ffbb33;
$yellow-300: #ffc654;
$yellow-200: #ffd88a;
$yellow-100: #ffe5b0;
$yellow-50: #fff7e6;
/////////////////////////////// BLUE ///////////////////////////////
$blue-900: #003f6b;
$blue-800: #00528c;
$blue-700: #006ab5;
$blue-600: #0088e8;
$blue-500: #0095ff;
$blue-400: #33aaff;
$blue-300: #54b8ff;
$blue-200: #8aceff;
$blue-100: #b0deff;
$blue-50: #e6f4ff;
