$white: #ffffff;
$white-disabled: #ffffff80;
$primary-color-first: #fec887;
$primary-color-second: #000000;
$btn-hover-danger: #d8001c;
$button-danger: #db1b34;
$btn-disabled-danger: #d8001c80;
$primary-color-first-hover: #ffb65e;
$primary-color-first-disabled: #fec88780;
$border-color: #efefef;
$border-color-disabled: #efefef80;
$txt-btn-disabled: #40322280;
$txt-btn-default: #1a1d1f;
$txt-btn-default-disabled: #1a1d1f80;
