$white: #ffffff;
$primary-color-first: #fec887;
$primary-color-second: #000000;
$button-hover-danger: #d8001c;
$button-danger: #db1b34;
$button-disabled-danger: #d8001c80;
$primary-color-first-hover: #ffb65e;
$primary-color-first-disabled: #fec88780;
$border-color: #efefef;
$border-color-disabled: #efefef80;