@use "@/styles/--variable" as variable;

$font-family: variable.$font-family;
$padding: variable.$padding;
$screen-height: variable.$screen-height;

.page {
  display: grid;
  grid-template-rows: 80px 1fr 40px;
  align-items: center;
  justify-items: center;
  min-height: $screen-height;
  padding: $padding;
  row-gap: 0;
  font-family: $font-family;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 16px;
  grid-row-start: 2;
  width: 100%;
  height: calc(100vh - 200px);

  .content {
    width: 100%;
    height: 100%;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid;
    border-style: dashed;
  }
}
