$text-primary-black: #131927;
$text-disabled: #d2d5d8; // === text grey
$text-success: #43b75d;
$text-info: #0095ff;
$text-warning: #ffaa00;
$text-error: #ee443f;
$text-primary-white: #ffffff;
$text-accent: #ffd29a;
$text-secondary-white: #ffffff · 60%;
$text-secondary-dark-grey: #6d717f;
$text-grey: #9EA2AE; // === text-disabled