@use "@/styles/--variable" as variable;

// display

$font-family: variable.$font-family;
$font-size: variable.$font-size;
$sm-font-size: variable.$sm-font-size;
$bg-login-color: variable.$bg-login-color;
$padding: variable.$padding;
$gap: variable.$gap;
$md-font-size: variable.$md-font-size;

// color

$white: variable.$white;
$primary-500: variable.$primary-500;
$text-accent: variable.$text-accent;
$ms-error-color: variable.$ms-error-color;

// custom css
$width: 15px;
$local-color: rgba(0, 0, 0, 0.65);
$screen-width: variable.$screen-width;
$screen-height: variable.$screen-height;
$padding-local: 10px;
$font-weight-400: 400;
$font-weight-700: 700;

.container {
	display: flex;
	flex-wrap: wrap;

	width: 100vw;
	height: 100vh;

	.backgroundSection {
		width: 100%;

		background: $primary-500;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1;

		position: relative;
		overflow: hidden;
		clip-path: polygon(0 0, 75% 0%, 100% 100%, 0 100%);
	}

	.form {
		flex: 1;
		display: flex;
		flex-direction: column;

		.logo {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}

		.title {
			display: flex;
			align-items: center;
			flex-direction: column;
		}

		.signUpForm {
			display: flex;
			align-items: center;
			justify-content: center;

			height: 100%;
			width: 100%;

			form {
				width: 100%;
				height: 100%;

				display: flex;
				justify-content: center;
				flex-direction: column;
				flex-wrap: wrap;

				.inputs {
					flex: 1;
					display: flex;
					align-items: flex-start;
					justify-content: center;
					flex-direction: column;

					.information {
						width: 100%;

						display: flex;
						align-items: center;
					}

					.wrapInput {
						width: 100%;

						display: flex;
						flex-direction: column;

						label {
							font-size: 15px;
						}
					}
				}

				.submit {
					width: 100%;

					button {
						width: 100%;
					}
				}

				.signIn {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: $gap;

					font-size: $md-font-size;

					&Link {
						color: $text-accent;
						text-decoration: none;

						&:hover {
							color: $primary-500;
						}

						&:focus,
						&:focus-visible {
							outline-color: $primary-500;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 575.98px) {
	/* CSS for mobile */
	.container {
		.backgroundSection {
			display: none;
		}

		.form {
			padding-top: 40px;
			gap: 22px;

			.logo {
				justify-content: center;
			}

			.title {
				flex: 1;
				gap: 6px;
			}

			.signUpForm {
				form {
					gap: 14px;

					padding: 0px 12px;

					.inputs {
						flex: 1;
						gap: 10px;

						.information {
							gap: 6px;
						}

						.wrapInput {
							gap: 8px;

							label {
								font-size: 15px;
							}
						}
					}

					.signIn {
						gap: $gap;

						font-size: $md-font-size;
					}
				}
			}
		}
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	/* CSS for tablet small and mobile hor */
	.container {
		.backgroundSection {
			display: none;
		}

		.form {
			gap: 24px;

			.logo {
				justify-content: center;
			}

			.signUpForm {
				form {
					.title {
						gap: 6px;
					}

					.inputs {
						gap: 10px;

						.information {
							gap: 12px;
						}

						.wrapInput {
							gap: 8px;

							label {
								font-size: 15px;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	/* CSS for tablet big */
	.container {
		.form {
			gap: 16px;

			.signUpForm {
				form {
					.inputs {
						gap: 8px;

						.information {
							gap: 12px;
						}

						.wrapInput {
							gap: 5px;

							label {
								font-size: 14px;
							}

							.hint {
								font-size: 13px;
							}
						}
					}
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	/* CSS for desktop basic */
}

@media (max-height: 667px) {
	.container {
		.form {
			padding-top: 8px;
			gap: 6px;

			.title {
				margin-bottom: 6px;
				gap: 4px;
			}

			.signUpForm {
				form {
					gap: 6px;
					padding: 0px 20px 8px;

					.inputs {
						gap: 4px;

						.wrapInput {
							gap: 4px;

							label {
								font-size: 14px;
							}
						}
					}

					.signIn {
						gap: $gap;

						font-size: $md-font-size;
					}
				}
			}
		}
	}
}

/* Cho iPhone lớn hơn */
@media (min-height: 668px) and (max-height: 926px) {
	.element {
		padding: 20px;
		margin-bottom: 25px;
	}
}

@media (orientation: landscape) {
	@media (max-height: 430px) {
		/* iPhone & similar */
	}

	@media (max-height: 320px) {
		/* Extra small screens */
	}
}
